/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  color: rgb(13, 29, 25);
  background: #91dabb;
}

.container {
  width: 100%;
  margin:auto;
}

.container h1, .container h2{
  color: rgb(182, 5, 5);
}

header {
  background: lightgrey;
  color: #ffffff;
  padding-top: 30px;
  min-height: 150px;
  border-bottom: #d21034 3px solid;
}

header h1{
  padding: 0 10px 0 100px;
}

header a{
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

header nav{
  float: right;
  margin-top: 10px;
}

header li{
  padding: 0 60px 0px 20px;
}

header .nav-item{
  color: #e8491d
}

header #branding h1{
  margin: 0;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
} 

header a.hover{
  color: #cccccc;
  font-weight: bold;
}

footer{
  text-align: center;
  color: #ffffff;
  background-color: #460303;
  padding: 10px;
  margin-top: 15px; 
}

/* Content area */
.content-header {
  margin-bottom: 33px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Times, "Times New Roman", serif;
  font-size: 28px;
  font-weight: bold;
  color: #4aaaa5;
}

.content-content {
  padding: 30px;
  margin-top: 26px;
  background-color: #fff;
}

.content-content > p {
  padding-top: 20px;
  font-size: 16px;
  line-height: 30px;
  color: slategray;
}

.content-text {
  padding-bottom: 20px;
}

#content-image {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;
}

/* Description content media query */
@media only screen and (max-width: 767px) {
  .content-content {
    padding: 0;
    margin-top: 0;
  }
}

/* Image nav */
#imageNav-area {
  width: 100%;
  padding: 30px 30px 43px;
  margin-top: 32px;
  background-color: #fff;
}

.imageNav-header {
  margin-bottom: 15px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  font-weight: bold;
  color: #4aaaa5;
  text-align: center;
}

.imageNav-photo {
  width: 140px;
  height: 140px;
}

.imageNav-photo:hover {
  opacity: 0.6;
}

.imageNav-photo.active {
  border: 2px solid #4aaaa5;
}

#images {
  padding-top: 15px;
  text-align: center;
}

#images1, #images2 {
  padding-top: 15px;
  text-align: center;
}

#images1 img, #images2 img{
  height: 400px;
  width: 400px;
}

.datatable {

  margin-bottom: 15px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  color: #203534;
  text-align: center;
  align-self: center;
}

/* ----IMAGE NAV END---- */